*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    font-family: 'Poppins', sans-serif;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#temp{
font-size: 2rem;
color: red;
}

#form{
    margin-top: 2rem;
    width: 560px;
}

.formfield{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 1rem;
    width:100%;
    border-bottom: 1px solid gray ;
    margin-bottom: 1.5rem;
}

label{
    font-size: 12px ;
    font-weight: 600;
}

input{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
}

button{
    padding: 0.5rem 1rem;
    width: 100%;
    background: rgb(44,44,195);
    background: linear-gradient(90deg, rgba(44,44,195,1) 27%, rgba(57,57,242,1) 35%);
    border: none;
    color: white;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}

button:hover{
    cursor:pointer ;
    background: rgb(44,44,195);
background: linear-gradient(90deg, rgba(44,44,195,1) 27%, rgba(106,106,223,1) 34%, rgba(115,115,227,1) 35%, rgba(115,115,227,1) 38%);
}
